.footer {
  @extend %stretch-width;
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 15px 10px;
  color: #fff;
  line-height: 30px;
  font-size: 12px;
  background-image: url(../images/bg_footer.png);
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    position: relative;
    overflow: hidden;
  }

  &-logo {
    @include image-2x('../images/FAUCET_footer@2x.png', 100px, 24px);
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
  	height: 24px;
    background-image: url(../images/FAUCET_footer.png);
    background-position: 0 0;
  }

  &-rights {
    @extend %stretch-width;
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center;
  }
}
