.header {
  @extend %stretch-width;
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 18px 10px;
  background-image: url(../images/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;

  &-settings {
    float: right;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 39px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold;
  }

  &-logo {
    @include image-2x('../images/FAUCET@2x.png', 149px, 35px);
    float: left;
    width: 149px;
  	height: 35px;
    background-image: url(../images/FAUCET.png);
    background-position: 0 0;
  }

  &-new-ballot {
    @extend %btn;
    @extend %btn-new;
    float: right;
    margin-top: 3px;
  }
}
